<!-- featured article template -->
<section class=" [padding-block:2rem] mt-[7.4rem] " x-data>

    <div class="gap-[2rem] grid-cols-1 lg:grid-cols-[1fr,40rem] container grid">

        <div class="gap-[2rem] grid md:grid-cols-4 md:grid-rows-[5rem,repeat(4,1fr)] ">

            <div class="md:col-start-1 col-end-[-1] text-[18px] flex items-center gap-[2rem] headline-banner">
                <h3
                    class="headline fancy-border :before-[animation:animate_border_.75s_linear_infinite] uppercase text-center tracking-[1px] p-1 h-full relative overflow-hidden before:absolute before:top-0 before:left-0 before:w-[200%] before:h-full before:[background-size:50%_100%] before:z-[5]">
                    <span
                        class="headline-banner h-full relative z-[10] inline-flex px-[1.5rem] py-[0.6rem] justify-center items-center ">Breaking
                        news</span>
                </h3>
                <span class="">Apple announces a new partnership...</span>
            </div>

            <!-- template for breaking news -->
            <template x-for="news in $store.blogStore.breakingNews">
                <!-- <p>his</p> -->
                <a href="./post.html" x-effect="console.log(news.id)" x-bind:class="{
                    'featured-article-1': news.id === 1,
                    'featured-article-2': news.id === 2,
                    'featured-article-3': news.id === 3
                  }" class="article featured-article ">
                    <div x-html="(await axios.get('./src/components/molecules/braking-news.html')).data">
                    </div>
                </a>
            </template>

        </div>

        <div class="sidebar grid" x-data="">

            <h3 class="text-md text-center p-4">Trending news</h3>
            <!-- template from trending news -->
            <template x-for="news in $store.blogStore.trendingNews">
                <div x-html="(await axios.get('./src/components/molecules/trending-news.html')).data"></div>
            </template>


        </div>

    </div>

</section>