<!-- Footer template -->
<footer class="footer section">

    <div class="footer-container container d-grid">

        <div class="company-data">
            <a href="./index.html">
                <h2 class="text-md font-semibold">Figozo Blog</h2>
            </a>
            <p class="company-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, iure. Harum,
                animi dolores, nam, ad magni expedita.</p>

            <ul class="list social-media">
                <li class="">
                    <a href="#" class="list-link"><i class="ri-instagram-line"></i></a>
                </li>
                <li class="">
                    <a href="#" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                </li>
                <li class="">
                    <a href="#" class="list-link"><i class="ri-twitter-line"></i></a>
                </li>
                <li class="">
                    <a href="#" class="list-link"><i class="ri-pinterest-line"></i></a>
                </li>
            </ul>

            <span class="copyright-notice">&copy;2021 Figozo Blog. All rights reserved.</span>
        </div>

        <div>
            <h6 class="title footer-title">Categories</h6>

            <ul class="footer-list list">
                <template x-for="link in $store.blogStore.footerLinks.categories">
                    <li class="">
                        <div x-html="(await axios.get('./src/components/atoms/link.html')).data"></div>
                    </li>
                </template>
            </ul>

        </div>

        <div>
            <h6 class="title footer-title">Useful links</h6>

            <ul class="footer-list list">
                <template x-for="link in $store.blogStore.footerLinks.usefulLinks">
                    <li class="">
                        <div x-html="(await axios.get('./src/components/atoms/link.html')).data"></div>
                    </li>
                </template>
            </ul>

        </div>

        <div>
            <h6 class="title footer-title">Company</h6>

            <ul class="footer-list list">

                <template x-for="link in $store.blogStore.footerLinks.company">
                    <li class="">
                        <div x-html="(await axios.get('./src/components/atoms/link.html')).data"></div>
                    </li>
                </template>

            </ul>

        </div>

    </div>

</footer>