<!-- <a x-if="false" href="./post.html" class="article featured-article featured-article-1"> -->
    <img src="./src/assets/images/featured/featured-1.jpg" alt="" class="article-image">
    <span x-text="news.category" class="article-category">Technology</span>

    <div class="article-data-container">

        <div class="article-data">
            <span x-text="news.date">Dec 5th 2021</span>
            <span class="article-data-spacer"></span>
            <span x-text="news.readTime">8 Min read</span>
        </div>

        <h3 x-text="news.title" class="title article-title">Is VR the future?</h3>

    </div>
<!-- </a> -->
<!-- <a x-if="news.id !== 1" href="./post.html" class="article featured-article featured-article-2">
    <img src="./src/assets/images/featured/featured-2.jpg" alt="" class="article-image">
    <span x-text="news.category" class="article-category">Food</span>

    <div class="article-data-container">

        <div class="article-data">
            <span x-text="news.date">Dec 6th 2021</span>
            <span class="article-data-spacer"></span>
            <span x-text="news.readTime">4 Min read</span>
        </div>

        <h3 x-text="news.title" class="title article-title">Fine dining 101</h3>

    </div>
</a> -->