    <img src="./src/assets/images/featured/featured-1.jpg" alt="" class=" absolute w-full h-full object-cover [transition:0.25s] hover:[scale:1.01]">
    <span x-text="news.category" class="article-category absolute top-4 right-4 p-2 text-base uppercase z-10"></span>

    <div class="article-data-container w-full absolute left-0 bottom-0 py-8 px-[6px] z-10 [transition:background-color_.5s]">

        <div class=" flex items-center gap-8 text-xsm mb-4">
            <span x-text="news.date"></span>
            <span class=" w-2 h-2 [transform:rotate(45deg)]"></span>
            <span x-text="news.readTime"></span>
        </div>

        <h3 x-text="news.title" class="text-md"></h3>

    </div>